.html, body {
    height: 100%;
    font-size: 3rem;
    color: #fff;
    background-color: #19191a;
}

.home,
.login,
.products {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #fff;
}